# macOS
.DS_Store

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.apk
*.aab

# Desktop (Electron)
desktop/node_modules/
desktop/dist/
desktop/out/
desktop/.eslintcache

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
*.log.*
